.profile__edit-button {
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s ease;
  position: relative;
  bottom: 6px;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    bottom: 4px;
  }
}
