@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);

.page {
  background-color: #000;
  max-width: 880px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 45px 0 60px 0;
  box-sizing: border-box;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.content {
  flex: 1;
}

.page__header {
  padding-bottom: 41px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 960px) {
  .page__header {
    padding-left: 27px;
  }
}

.content__profile {
  padding-top: 40px;
  padding-bottom: 51px;
}

.profile {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-wrap: wrap;
}

.profile__avatar {
  width: 120px;
  border-radius: 50%;
}

.profile__info {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  max-width: 336px;
  align-items: baseline;
  justify-content: space-between;
}

.profile__title {
  padding: 0;
  margin: 0 0 16px 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #fff;
}

.profile__subtitle {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.profile__add-button {
  margin-left: auto;
}
